/********************************
		General Styling 
********************************/
*:focus{
	outline: none;
}

body{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 16px;
	color: #333;
	font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5{
	font-family: 'Bitter', serif;
}

a{
	text-decoration: none;
}

i{
	padding: 0 1rem !important;
}

.button{
	background-color: #e24d54; 
	border: none;
	color: #fff;
	font-size: 1rem;
	padding: .5rem 1rem;
	border-radius: 1rem;
}

.button:hover{
	background-color: #c84549;
}

.resume-button, .work-button{
	float: right;
}

.banner, .intro, .skills{
	height: 33rem;
}

.content-wrapper{
	width: 75%;
	margin: 0 auto;
}

.content-wrapper h3{
	font-weight: normal;
	font-size: 1.5rem;
}

/********************************
	Back to Top Button Styling 
********************************/
.back-to-top {
 	margin: 0;
 	position: fixed;
 	bottom: 1rem;
 	right: 1rem;
 	z-index: 100;
 	display: none;
 	text-decoration: none;
 	color: #e24d54;
 }
 .back-to-top img{
 	width: 70px;
 	height: 70px;
 }
  
.back-to-top i {
   font-size: 60px;
 }

/********************************
		Header Styling 
********************************/

header{
	background-color: #fff;
	height: 4.5em;
}

header .logo{
	float: left;
	padding: .25rem .75rem;
	height: 4rem;
}

a{
	color: #333;
}

header nav{
	float: right;
	list-style: none;
	margin-right: 1rem;
}

header ul{
	margin: 0;
}

nav .selected{
	padding: .5rem 0;
	border-bottom: 2.5px solid #418CF7;
}

nav li{
	display: inline-block;
	margin-top: .7rem;
	padding: 1rem .5rem;
}

nav li:hover{
	background-color: #f6f6f6;
}

/********************************
		Banner Styling 
********************************/

.banner{
	background-image: url("../images/blue-library.jpg");
   	background-repeat: no-repeat;
    background-attachment: fixed;
}

.banner-content-wrapper{
	position: relative;
}

.banner-name{
	height: 16rem;
	width: 13rem;
	background-color: #fff;
	padding: 2rem 2rem;
	position: absolute;
	top: 5.75rem;
	left: 16%;
	z-index: 2;
}

.banner-rectangle{
	height: 16rem;
	width: 13rem;
	border: 3px solid #fff;
	padding: 2rem 2rem;
	position: absolute;
	top: 7.5rem;
	left: 18.5%;
	z-index: 1;
}

.banner-name h1{
	margin: 0;
	font-size: 2.5rem;
	font-weight: normal;
}

.banner-name h3{
	margin: 8rem 0 0 0;
	font-size: 1.25rem;
	font-weight: normal;
}

h2{
	font-size: 2rem;
	color: #418CF7;
	margin: 0;
}

/********************************
		Intro Styling 
********************************/

.intro-text
{
	margin-top: 4.5rem;
	width: 40%;
}

.intro-image{
	width: 18rem;
	position: absolute;
	top: 40.75rem;
	right: 20rem;
	box-shadow: -3px -3px 12px #F1F1F1;
	z-index: 2;
}

.intro-rectangle{
	width: 18rem;
	height: 21.85rem;
	position: absolute;
	top: 43rem;
	right: 17.5rem;
	background-color: #7ecfd8;
	z-index: 1;
}

.intro{
	background-color: #fff;
	clear: both;
}

.intro-text{
	margin-left: 5%;
	float: left;
	line-height: 2.2rem;
}

.intro p{
	font-size: 1.2rem;
}

/********************************
		Skills Styling 
********************************/

.skills{
	background-color: #7ecfd8;
	border: 1px solid #7ecfd8;
}

.skills-content-wrapper{
	position: relative;
	padding-bottom: 3rem;
}

.skills-header{
	margin: 0 5%;
	padding: 4rem 0;
}

.skills h2{
	float: left;
	color: #fff;
}

.skills-text{
	margin-top: 4rem;
	color: #fff;
	font-size: 1.25rem;
	clear: both;
}

.skill-point{
	display: inline-block;
	width: 24.5%;
	text-align: center;
}

.skill-icon{
	width: 6rem;
}

h5{
	font-weight: normal;
	font-size: 1.25rem;
	margin: 1rem 1.5rem 0;
	padding: .5rem 0;
}

.skills p{
	font-size: 1rem;
	line-height: 1.5rem;
	padding: 0 1rem;
}

/********************************
		Portfolio Styling 
********************************/


.work{
	background-color: #fff;
	border: 1px solid #fff;
}

.work-header, .project-box, .project-sub-header{
	margin: 0 5% auto;
}

.work-header{
	margin-top: 3.5rem;
	margin-bottom: 2rem;
	border: 1px solid #fff;
}

.work-title{
	float: left;
}

.project-sub-header{
	clear: both;
	padding: .25rem;
	margin-top: 3em;
	border-bottom: 1px solid #333;
}

.project-box{
	margin-top: 2rem;
	margin-bottom: 5rem;
	box-shadow: 3px 3px 12px #F1F1F1;
	text-align: center;
}

.column-1, .column-2, .column-3{
	margin-top: 0;
	display: inline-block;
	vertical-align: top;
	width: 33%;
}

.project{
	position: relative;
	overflow: hidden;
}

.project-image{
	width: 100%;
	margin-bottom: 1rem;
	padding: 0 .5rem;
}

.project h4{
	font-size: 1.25rem;
	margin: 0;
	padding: .25rem 0;
	border-bottom: 2px solid #333;
}

.project-hover-text{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0; 
	left: 0;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	line-height: 1.5rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, .85);
}

.project-hover-text {
	opacity: 0;
	transition: opacity .5s;
}
.project-hover-text:hover {
	opacity: 1;
}


/************************
	Contact Box Styling
************************/

/*contact area divs*/
.contact{
	background-color: #F1F1F1;
}

.contact-content-wrapper{
	width: 75%; 
	margin: 0 auto;
	padding-bottom: 4rem;
}
.contact-content-wrapper h2{
	padding-top: 4rem;
}
.contact-content-wrapper h2, .contact-columns{
	margin: 0 5% auto;
}
.contact-columns{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: center;
}
.contact-p{
	width: 85%;
	margin-right: 8rem;
	margin-bottom: 2rem;
	line-height: 2.2rem;
	font-size: 1.2rem;
}
.contact-column1{
	width: 85%;
}

/*contact form*/
.contact-area {
	width: 75%;
}
.contact-area input, .contact-area textarea {
	padding: .25rem;
	width: 100%;
	margin-bottom: 1.5rem;
	border: 2px solid #ccc;
}
#message{
	margin-bottom: 1rem;
}
.contact-area textarea {
	height: 5rem;
}
.thanks-content-wrapper{
	text-align: center;
}
input.submit-button{
	background-color: #e24d54; 
	border: none;
	color: #fff;
	font-size: 1rem;
	padding: .5rem 1rem;
	border-radius: 1rem;
	width: 6rem;
	float: right;
	margin-right: -.5rem;
}
/*input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}*/

/********************************
		Contact Bar Styling 
********************************/

.contact-bar{
/*	margin-top: 4rem;*/
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.email, .number, .linkedin{
	text-align: center;
	padding: 1rem;
	background-color: #fff;
	width: 33.3333%;
	color: #fff;
	font-weight: bold;
}

.email{
	background-color: #418CF7;
}

.number{
	background-color: #e24d54;
}

.linkedin{
	background-color: #7ecfd8;
}

footer{
	text-align: center;
	height: 1.25rem;
	padding: 1rem;
	background-color: #fff;
}


/********************************
		Pages Styling 
********************************/
.pages-header, .pages-footer{
	background-color: #418CF7;
}

.pages-header li, .pages-footer{
	color: #fff;
	clear: both;
}

.pages-header li:hover{
	color: #333;
	font-weight: bold;
	background-color: #418CF7;
}

.pages-header .selected{
	border-bottom: 2.5px solid #fff;
}


/********************************
		Projects Page Styling 
********************************/




/********************************
		Resume Page Styling 
********************************/
.resume-title h2{
	margin-top: 3rem;
	margin-bottom: 2.5rem;
	border-bottom: 3px solid #418CF7;
}

.resume-header{
	margin-top: 3.5rem;
	margin-bottom: 2rem;
}

.resume-column-1{
	max-width: 68%;
	float: left;
	margin-bottom: 1rem;
	padding-right: 3rem;
	border-right: 1px solid #418CF7;
}

.resume-column-2{
	max-width: 28%;
	float: right;
}

.resume-column-1 h3{
	padding: 0;
	margin: 0;
}

.list-1, .list-2, .list-3{
	overflow: hidden;
	margin-bottom: 1rem;
}

.list-2, .list-3{
	padding-top: 1rem;
	border-top: 1px solid #418CF7;
}

.resume-header{
	float: left;
	width: 20%;
	font-size: 1.25rem !important;
	border: none;
	color: #7ecfd8;
}

.resume-info{
	float: right;
	width: 75%;
	padding-left: 1.25rem;
}

.resume-info p{
	margin: 0;
}

.resume-info h4{
	margin: 0;
}

.resume-info ul{
	margin: .75rem;
}

.list-1 p, .list-2 p, .list-3 p{
	line-height: 1.5rem;
}
.list-2 ul{
	line-height: 1.5rem;
}

.list-3 h4{
	margin-bottom: .75rem;
}

.list-2 h4, .list-3 h4{
	font-weight: normal;
}

.resume{
	margin-bottom: 3rem;
	overflow: hidden;
}

.resume-column-2{
	padding: 0 .75rem .75rem;
}

.resume-column-2 h3{
	font-size: 1.25rem;
	border: none;
	color: #7ecfd8;
	margin: 0 0 .5rem;
}

.resume-column-2 ul{
	margin: 0;
	list-style: none;
	padding-left: 1.5rem;
	line-height: 1.5rem;
}

.resume-lists h3{
	margin-top: 1.25rem;
}












